.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
} 

 	
.registration-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f2f2f2;
}

.registration-form h2 {
  margin-bottom: 20px;
}

.registration-form .form-group {
  margin-bottom: 15px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form input[type='text'],
.registration-form input[type='email'],
.registration-form input[type='designation'],
.registration-form input[type='phoneNo'],
.registration-form input[type='department'],
.registration-form input[type='password'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #45a049;
}

@media (max-width: 480px) {
  .registration-form {
    width: 90%;
  }
}

/* .loginPage {
  
  background: linear-gradient(rgba(174, 217, 245, 0.5), rgba(170, 201, 247, 0.5));
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
} */
/* .custom-outline {
  border: 1px solid #343a40;
  background-color: #f1f5f8;
  color: #fff;
} */

/* .loginForm {
  background-color: rgba(1, 32, 93, 0.6);
  color: white;
} */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.apply-button, .leave-button {
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color:rgb(2, 3, 129);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apply-button:hover{
  color: rgb(245, 245, 184);
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
   
}

.leave-form {
  width: 400px;
  padding: 20px;
  background-color: #cbd1d0;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select,
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #161010;
  border-radius: 5px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #05057e;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover{
  color: rgb(247, 247, 185);
}
.center-heading {
  text-align: center;
  margin-top: 25px;
}

.leave-request-table {
  max-width: 600px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: rgb(2, 3, 129);
  color: white;
}

button {
  margin-right: 5px;
}

button:last-child {
  margin-right: 0;
}
.leave-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leave-list button {
  margin-bottom: 5px;
  padding: 10px 10px;
  background-color: rgb(2, 3, 129);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.leave-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(242, 242, 250);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
   
}

.leave-list button:hover{
  color: rgb(250, 248, 164);
}
 


.leave-list-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.leave-list-container table {
  width: 100%;
  border-collapse: collapse;
}



.leave-list-container th,
.leave-list-container td {
  padding: 20px;
  border: 2px solid rgb(2, 3, 129);
}

/* .leave-list-container th {
  background-color: #f0f0f0;
  font-weight: bold;
} */

/* .leave-list-container tbody tr:nth-child(even) {
  background-color: #f9f9f9;
} */

 



.profile-page {
  max-width: 500px;
  margin: 0 auto;
  padding: 25px;
  border: 2px solid #2e2d2d;
  border-radius: 5px;
  text-align: center;
  margin-top: 100px;
  background-color: #eaecec;
}

.profile-details {
  margin-top: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.profile-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.profile-field span {
  font-weight: bold;
  flex-basis: 200px;
  flex-shrink: 0;
}

.loading-message {
  margin-top: 20px;
  text-align: center;
}

.field-label {
  font-weight: bold;
}

.field-value-box {
  display: inline-block;
  padding: 10px;
  border: 1px solid #aca7a7;
  border-radius: 4px;
  background-color: #e0eeee;
  flex-basis: 200px;
  flex-shrink: 0;
  width: auto;
  margin-left: 10px;
  box-sizing: border-box;
}

.field-value {
  margin: 0;
}

/* Responsive Styles */

@media (max-width: 600px) {
  .profile-page {
    margin-top: 50px;
    padding: 15px;
  }

  .profile-field span {
    flex-basis: 100%;
  }

  .field-value-box {
    flex-basis: 100%;
    margin-left: 0;
  }
}


.btn-add {
  background-color: darkblue;
  color: white;
  /* Add any other desired styles */
}

.btn-add:hover{
  background-color: darkblue;
  color:rgb(228, 252, 171)
}

 
.table {
  border: 1px solid rgb(2, 3, 129);
}

.table th,
.table td.black-bg {
  background-color: rgb(2, 3, 129);
  color: white;
}



 

 
 /* leavehistory css */
 .leave-history-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 25px;
  border: 2px solid #1e0785;
  border-radius: 5px;
  text-align: center;
  margin-top: 100px;
  background-color: #fafcfd;
}

.leave-history-container h2 {
  margin-bottom: 20px;
}

.loading-message {
  margin-top: 20px;
  text-align: center;
}

.leave-history-table {
  width: 100%;
  border-collapse: collapse;
}

.leave-history-table th,
.leave-history-table td {
  padding: 10px;
  border-bottom: 1px solid #202020;
}

 

 

 

 .leave-history-table td:first-child {
  text-align: left;
} 

 .leave-history-table td:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.leave-history-table td.status {
  text-align: center;
}

.leave-history-table td.status span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
}

.leave-history-table td.status.approved span {
  background-color: #5cb85c;
  color: #fff;
}

.leave-history-table td.status.pending span {
  background-color: #f0ad4e;
  color: #fff;
}

.leave-history-table td.status.rejected span {
  background-color: #d9534f;
  color: #fff;
}


@media screen and (max-width: 768px) {
  .leave-history-container {
    padding: 15px;
  }

  .leave-history-container h2 {
    font-size: 24px;
  }

  .leave-history-table th,
  .leave-history-table td {
    font-size: 14px;
    padding: 8px;
  }
} 

 

 

/* Styling for the background image */
/* .background-image {
  flex: 1;
  background-image: url('background.jpg'); /* Replace with the actual image path */
  /* background-size: cover;
  background-position: center;
  padding: 10px;
  
} */
/* .background-image h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 5px;
} */

/* .background-image p{
  text-align: justify;
  padding: 8px;
}  */
 

/* .background-image .read-more {
  cursor: pointer;
  color: #120744;
  font-weight: bold;
  text-decoration: underline;
} */

/* Styling for the login form container */

/* .login-page {
  display:  block;
  
  background-image: radial-gradient(circle, #9ff9ff, #02888d);
} */

/* Style for the login form container */
/* Styling for the login form container */
.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height to center the form */
  padding: 20px;
  background-image:url('background.jpg');
  background-size: cover; /* Add a background color to the container */
}

/* Styling for the login form */
.login-form {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  border: 2px solid #2e2d2d;
  border-radius: 5px;
  text-align: center;
   
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Styling for the login form title */
.login-form h3 {
  margin-bottom: 20px;
  color: #05057e;
}

/* Styling for the form labels */
.login-form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

/* Styling for the form inputs */
.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #1d1b1b;
  border-radius: 8px;
}

/* Styling for the login button */
.login-form button {
  width: auto;
  padding: 10px;
  background-color: #221a91;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

/* Styling for the login button on hover */
.login-form button:hover {
  background-color: #221a91;
  color: rgb(248, 248, 178);
}

/* Assuming you have a CSS file, e.g., styles.css */
.download-button {
  margin-top: 20px;
  text-align: center;
}

.download-button button {
  background-color: #221a91;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.download-button button:hover {
  background-color: #221a91;
  color:rgb(250, 250, 192);
}
